body {
  background-color: #6f9170;
  font-family: "Courier New", Courier, monospace;
  color: rgba(227, 236, 237, 0.8);
  text-align: center;
  text-shadow: 1px 4px 6px #6f9170, 0 0 0 #000, 1px 4px 6px #6f9170;
  font-weight: bold;
  font-size: 20pt;
}
.page_head {
  font-size:70pt;
}
header {
  font-size: 40pt;
}

p {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.choices {
  max-width: 450px;
  color: rgba(119, 137, 117, 0.8);
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;
  background-color: #c1e0bc;
  display: inline-block;
  font-size: 28pt;
  border-radius: 10px;
  margin:auto;
  padding: 30px;
  min-width: 450px;
}
div {
  text-align: center;
}

.contain {
  display:inline-block;
  background-color: #628463;
  max-width: 650px;
  width:500px;
  max-height: 700px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  text-align: center;
  border: solid #b4d1af;
  border-radius: 20px;
}

#currFlights {
  background-color: #628463;
  color: rgba(119, 137, 117, 0.8);
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;
  border-radius: 20px;
  max-height: 300px;
  max-width: 1100px;
  margin: auto;
  border: solid #b4d1af;
  overflow: auto;
  padding: 5px;
}

.flight {
  background-color: #c1e0bc;
  color: rgba(119, 137, 117, 0.8);
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;
  border-radius: 20px;
  padding-bottom: 5px;
  margin: auto;
  border: solid #b4d1af;
  border-style: outset;
}

.flight:hover {
  border-style: inset;
}

.aircont {
  background-color: #628463;
  color: rgba(119, 137, 117, 0.8);
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;;
  border-radius: 20px;
  max-width: 300px;
  max-height: 350px;
  margin: auto;
  border: solid #b4d1af;
  display:inline-block;
  overflow: auto;
  padding: 5px;
}
.airport.selected {
  background-color: yellow;
  border-color: black;
  text-shadow:none;
}

.depart_head {
  color: rgba(119, 137, 117, 0.8);
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;
  padding-left: 5px;
  padding-right: 5px;
}
.arrival_head {
  color: rgba(119, 137, 117, 0.8);
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;
  padding-left: 5px;
  padding-right: 5px;
}
.airport {
  background-color: #c1e0bc;
  color: rgba(119, 137, 117, 0.8);
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;
  padding-top: 30px;
  border-radius: 20px;
  padding-bottom: 30px;
  max-width: 300px;
  margin: auto;
  border: solid #b4d1af;
  border-style: outset;
}
.arrival {
}
.airport:hover {
  border-style: inset;
}

.airline {
  background-color: #c1e0bc;
  color: rgba(119, 137, 117, 0.8);
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;
  padding-top: 30px;
  border-radius: 20px;
  padding-bottom: 30px;
  max-width: 300px;
  margin: auto;
  border: solid #b4d1af;
  border-style: outset;
}

.airline:hover {
  border-style: inset;
}

.air_info {
  font-size: 11pt;
}
#currAir {
  overflow: auto;
  max-height:400px;
}
#creatAir {
  width:300px;
}

.flightDeets {
  background-color:  #6f9170;
  max-width: 500px;
  width:400px;
  max-height: 800px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  text-align: left;
  border: solid  #6f9170;
  border-radius: 20px;
  text-shadow: 1px 4px 6px  #6f9170, 0 0 0 #000, 1px 4px 6px  #6f9170;
  float:left;
}
.plane_up {
  width: 425px;
  max-width: 425px;
  float: left;
  background-color: #628463;
  color: rgba(119, 137, 117, 0.8);
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;;
  border-radius: 20px;
  border: solid #b4d1af;
  overflow: auto;
  height:225px;
  max-height: 275px;
}
.planeDeets {
  background-color: #c1e0bc;
  color: rgba(119, 137, 117, 0.8);
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;
  border-radius: 20px;
  padding-top: 5px;
  font-size: 12pt;
  max-width: 350px;
  margin: auto;
}
.ref_cont {
  width: 425px;
  max-width: 425px;
  float:left;
}

.update_contain {
  float:left;
  padding-right:5px;
}

.plane_contain {
  padding-top: 15px;
  padding-bottom: 10px; 
}

.sub_btn {
  width: 200px;
  height: 100px;
}

.update {
  padding: 13px;
  font-size: 15pt;
}

textarea {
  background-color: #a1c4a1;
  border-color: #628463;
  padding: 5px;
  border-radius: 10px;
}

.single {

}

h1 {
  font-size: 20pt;
  background-color: #c1e0bc;
  color: rgba(119, 137, 117, 0.8);
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;
  padding-bottom: 5px;
  border-radius: 15px;
}

img {
  max-width: 300px;
}

button {
  color: rgba(119, 137, 117, 0.8);
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  text-shadow: 1px 4px 6px #c1e0bc, 0 0 0 #000, 1px 4px 6px #c1e0bc;
  background-color: #c1e0bc;
  font-size: 15pt;
  width: 100px;
  height:35px;
  border: solid #b4d1af;
  border-style: outset;
}
button:hover {
  border-style: inset;
}
span {
  width: 30px;
}
.evil:hover {
  border-style: inset;
  border-color: red;
}
.good:hover {
  border-style: inset;
  border-color: blue;
}
.evil span{
  position: relative;
  content: "Air Travel Overlords"
}
.evil:hover span{
  display: none;
}
.evil:hover:after{
  content: "Exploitation!"
}
.good span{
  position: relative;
  content: "Air Travel Overlords"
}
.good:hover span{
  display: none;
}
.good:hover:after{
  content: "Vacation!"
}
